use bindings::engine::ActorComponent;
use rusteal_runtime::runtime::{LOG_DISPLAY, ulog};
use rusteal_runtime::{uclass, uclass_impl};

#[uclass(parent = ActorComponent)]
pub struct HelloComponent {}

#[uclass_impl]
impl HelloComponent {
    #[ufunction(Override)]
    fn receive_begin_play(&mut self) {
        ulog!(
            LOG_DISPLAY,
            "[{{ plugin }}] Hello from the plugin's Rust library"
        );
    }
}
