#include "Modules/ModuleManager.h"
#include "RustealLibraries.h"

extern void {{ plugin }}_RustealFillFuncTable();
extern void **{{ plugin }}_RustealGetFuncTable();
extern uint32_t {{ plugin }}_RustealGetFuncCount();

class F{{ plugin }}Module : public IModuleInterface {
public:
  virtual void StartupModule() override {
    FModuleManager::Get().LoadModuleChecked<IModuleInterface>(TEXT("RustealEditor"));
    {{ plugin }}_RustealFillFuncTable();

    RustealRegisterPluginLibrary(TEXT("{{ plugin }}"),
                                 {{ plugin }}_RustealGetFuncTable(),
                                 {{ plugin }}_RustealGetFuncCount());
  }

  virtual void ShutdownModule() override {
    RustealUnregisterLibrary(TEXT("{{ plugin }}"));
  }
};

IMPLEMENT_MODULE(F{{ plugin }}Module, {{ plugin }})
