// A first actor. Drop a HelloActor into a level and press Play.

use bindings::prelude::*;
use rusteal_runtime::runtime::{LOG_DISPLAY, ulog};
use rusteal_runtime::{uclass, uclass_impl};

#[uclass(parent = Actor)]
pub struct HelloActor {}

#[uclass_impl]
impl HelloActor {
    #[ufunction(Override)]
    fn receive_begin_play(&mut self) {
        ulog!(LOG_DISPLAY, "[{{ project }}] Hello from Rust");
    }
}
