use bindings::engine::PrimaryDataAsset;
use rusteal_runtime::uclass;

#[uclass(parent = PrimaryDataAsset)]
pub struct {{ plugin }}Item {
    #[uproperty(EditAnywhere, BlueprintReadOnly, category = "Item")]
    display_name: String,
    #[uproperty(EditAnywhere, BlueprintReadOnly, category = "Item", default = 1)]
    max_stack: i32,
    #[uproperty(EditAnywhere, BlueprintReadOnly, category = "Item", default = 0.0)]
    weight: f32,
}
