rusteal_runtime::entry!();

mod menu;
mod subsystem;
mod validator;

use bindings::editor_subsystem::EditorSubsystem;
use bindings::unreal_ed::EditorSubsystemBlueprintLibrary;
use rusteal_runtime::runtime::{RustealResult, SubclassOf, UObjectRef, UeClass};

pub fn editor_subsystem<T: UeClass>() -> RustealResult<UObjectRef<T>> {
    let class = unsafe { SubclassOf::<EditorSubsystem>::from_raw(T::static_class()) };
    EditorSubsystemBlueprintLibrary::get_editor_subsystem(class).cast::<T>()
}
